/Users/nikayc/Dropbox/Projects/pythonProject/keys/
add.py
aiogram_bot.py
# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать настройки IDE
.idea/

# Игнорировать файлы с токенами и настройками
env.py
*.env
.env
